.ui-btn-text {
  font-size: 14px;
  transform: translateY(50%);
  color: black;
}

.ui-btn-up-c {
  height: 40%;
}

.ui-link-inherit {
  text-decoration:none;
}

#question {
  text-align: center;
  font-size: 140%;
  height: 75px;
  width: 90%;
}

#header {
  font-size: 20px;
}

#next {
  width: 50%;
  margin: 0 auto;
}

#finish {
  width: 50%;
  margin: 0 auto;
}


img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table {
	width: 100%;
}
td {
  vertical-align: top;
}
.d1 {
  text-align: left;
  color: white;
}

.d2 {
  text-align:center;
  color: white;
}
.d3 {
  text-align:right;
  color: white;
}


